@charset "ctf-8";

.top a {
  color: rgb(110, 110, 110);
  text-shadow: none;
}

.main {
  padding-top: 110px;
}

.about {
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.about::after {
  content: '';
  display: block;
  width: 100px;
  height: 5px;
  background-color: #da1c1ce1;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.about-me {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about-me img {
  position: relative;
  margin-right: 60px;
}

.portrait-photo {
  font-size: 7pt;
  text-align: center;
}

span.name-english {
  margin-left: 20px;
  font-size: medium;
}

.text {
  display: block;
  padding-right: 60px;
  margin-left: 60px;
}

.text h3 {
  padding-bottom: 20px;
  font-size: 24px;
}

.text p {
  line-height: 30px;
}

.about-logo {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 15px;
}

.about-logo img {
  width: 40px;
}

.about-logo a {
  width: 40px;
  margin: 0 10px 0 10px;
}

.resume {
  margin: 20px 0 60px 0;
  padding: 20px 0 20px 0;
  color: #ffffff;
  background-color: #da1c1ce1;
}

.resume-content {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  justify-content: center;
}

.resume h2::after {
  content: '';
  display: block;
  width: 700px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 8px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.resume dl {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}
.resume dt {
  float: left;
}

.resume dd {
  margin-left: 140px;
}

.paper-list ol {
  max-width: 1000px;
}

.msr_bread06 {
  font-size: 12px;
  letter-spacing: -.4em;
  text-align: center;
}

.msr_bread06 li {
  margin: 0 5px 5px 0;
  background: #ddd;
  color: #000;
  line-height: 100%;
  letter-spacing: normal;
  display: inline-block;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.msr_bread06 li a {
  padding: 8px 12px 8px 12px;
  color: #000;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.msr_bread06 li:first-child a {
  padding-left: 12px;
}

/* hover */
.msr_bread06 li:hover {
  background: #000;
}

.msr_bread06 a:hover {
  color: #fff;
}

.msr_bread06 li a:hover::after {
  border-left: 8px solid #000;
}

.main h2 {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 10px;
  max-width: 100%;
  text-align: center;
}

mark {
  background-color: rgb(255, 230, 87);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  border-radius: 30px
}


@media (max-width: 800px) {

  .main {
    padding-top: 10px;
  }

  .about {
    text-align: center;
  }

  .about-me {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
  }

  .about-me img {
    margin-right: 0;
    padding-top: 10px;
    width: 220px;
    height: auto;
  }

  .text {
    padding: 20px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }

  .text h3 {
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 22px;
  }

  .text p {
    line-height: 19px;
    font-size: 12px;
    text-align: left;
  }

  .resume-content {
    padding-right: 30px;
    padding-left: 30px;
  }

  .resume h2::after {
    width: 380px;
  }

  .resume dl {
    font-size: 14px;
  }

  .resume dt {
    float: none;
  }

  .resume dd {
    margin-left: 30px;
  }

  .about-logo {
    margin-top: 0;
  }

  .about-logo img {
    width: 30px;
  }

  .about-logo a {
    margin: 0 5px 0 5px;
  }

  .top a {
    color: #ffffff;
    text-shadow: 1.5px 1.5px 0px #1b1b1b;
  }

  .awards h2 {
    padding: 40px 10px 10px 10px;
    text-align: center;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

}