@charset"utf-8";

.top a {
  color: rgb(110, 110, 110);
  text-shadow: none;
}

.main {
  padding-top: 120px;
}

.games {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  max-width: 100%;
  font-size: 12px;
  text-align: center;
}

.games::after {
  content: '';
  display: block;
  width: 100px;
  height: 5px;
  background-color: #da1c1ce1;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.device {
  padding: 30px;
  padding-top: 50px;
}

.device-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.device-title img {
  width: auto;
  height: 24px;
  margin-right: 8px;
}

.main h2 {
  display: flex;
}

.game-list {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 0px;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

.game-list::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;

}

.game-list li {
  flex-shrink: 0;
  width: 350px;
  padding: 40px;
}

.game-list li:first-child {
  margin-left: 0;
}

.game-list dl {
  margin-top: 20px;
  display: block;
  text-align: center;
}

.game-list dt {
  font-weight: bold;
}

.game-list li:hover {
  background-color: #cccccc;
}


@media(max-width:800px) {

  .top a {
    color: #ffffff;
    text-shadow: 1.5px 1.5px 0px #1b1b1b;
  }


  .main {
    padding-top: 10px;
  }

  .first-view {
    height: calc(100vh - 50px);
  }

  .games {
    padding-top: 25px;
    padding-bottom: 5px;
    margin-top: 0px;
  }

  .game-list {
    padding-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
  }

  .game-list li {
    padding: 5px;
    width: 200px;
  }

  .games-tag {
    min-width: 75px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .device {
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 5px;
  }

  .device-title {
    font-size: 12px;
    margin-bottom: 10px;
  }

}