@charset "ctf-8";

.main {
  padding-top: 110px;
}

.margin-top {
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.margin-top::after {
  content: '';
  display: block;
  width: 210px;
  height: 5px;
  background-color: #da1c1ce1;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.main h3 {
  padding: 60px 20px 20px 20px;
  text-align: center;
  max-width: 100%;
  font-size: 22px;
  line-height: 30px;
}

.paper-list {
  padding: 0 30px 30px 30px;
  align-items: center;
  justify-content: center;
}

.paper-list ol {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.list-margin {
  font-size: 15px;
  line-height: 30px;
  list-style: decimal;
  list-style-position: inside;
  text-indent: -1.2em;
  padding: 20px 10px 20px 30px;
}

.main h3 {
  padding-top: 40px;
}

.main h2 {
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}

.list-margin a {
  color: rgb(207, 0, 0);
  text-shadow: none;
}

mark {
  background-color: rgb(255, 230, 87);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  border-radius: 30px
}

.top a {
  color: rgb(110, 110, 110);
  text-shadow: none;
}

a.button {
  color: #ffffff;
  background-color: #da1c1ce1;
  font-weight: bold;
  font-size: 12px;
  border-radius: 6px;
  margin: 0 5px 5px 0;
  padding: 4px 10px 4px 10px;
}

@media(max-width:800px) {

  .main {
    padding-top: 10px;
  }

  .main h3 {
    padding: 40px 10px 10px 10px;
    text-align: center;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .paper-list {
    margin: 10px 10px 10px 10px;
    padding: 0;
  }

  .list-margin {
    font-size: 10px;
    line-height: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .top a {
    color: #ffffff;
    text-shadow: 1.5px 1.5px 0px #1b1b1b;
  }

  a.button {
    line-height: 26px;
    font-size: 10px;
    border-radius: 6px;
    margin: 20px 5px 5px 0;
    padding: 4px 10px 4px 10px;
  }
}